*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.upper-container{
    width: 50%;
    height: 10%;
    margin: 50px auto;
    position: relative;
}

.upper-container1{
    width: 35%;
    height: 100%;
    padding-top: 20px;
}

#tasks{
    font-weight: bold;
    font-size: 2.5rem;
}

#List{
    font-size: 40px;
    margin-left: 10px;
    opacity: 0.5;
}

.top{
    display: flex;
    justify-content: space-between;
}
.upper-container2{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    
}

#addlist{
    font-size: 25px;
    opacity: 0.5;
    margin-left: 20px;
}

#addlist a{
    text-decoration: none;
    color: #000;
}

.pop:target{
    display: flex;
}



.card-container{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}


/* card is starting here */

.card{
    margin-top: 10px;
    border: 1.5px solid red;
    height: 37vh;
    width: 25%;
    position: relative;
    border-radius: 8px;
    box-shadow: 5px 5px 10px gray;
    
}

.div1{
    position: absolute;
    top: 25px;
    right: 0;
    font-size: 20px;
    width: 85%;
    text-align: left;
    height: 15%;
    color: darkred;
    border-bottom: 1px solid black;
}

.div2{
    width: 90%;
    height: 10%;
    font-size: 18px;
    color: red;
    text-align: right;
    position: absolute;
    top: 35%;
    font-weight: bold;
    text-decoration: line-through;
}

.div3{
    width: 90%;
    height: 10%;
    position: absolute;
    top: 50%;
    text-align: left;
    font-size: 20px;
}
#check{
     width: 15px;
     height: 15px;
     margin-left: 10px;
 }



.pop{
    position: absolute;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.705);
    backdrop-filter: blur(2px);
    display: none;
    justify-content: center;
    align-items: center;
}


.pop-up{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 25vh;
    width: 24%;
    border: 1.5px solid red;
    border-radius: 10px;
    color: red;
    font-size: 20px;
    box-shadow: 3px 3px 10px gray;
    background-color: white;
    padding: 20px;
}

.add-new{
    opacity: 0.7;
    font-size: 20px;
    padding: 20px;
}

.pop-up input{
    padding: 8px 20px;
    width: 80%;
    border: 1.5px solid red;
    border-radius: 5px;
    box-shadow: 3px 3px 10px gray;
}

.pop-up-button{
    font-size: 20px;
    padding: 8px 30px;
    margin-top: 18px;
    color: white;
    background-color: red;
    border-radius: 25px;
    border: none;
    position: relative;
    cursor: pointer
    
}